body{background-color: #333;}

/* CONFIGURACIÓN DEL MENÚ */
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F8F4E9;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-radius: 10px;
  }
.nav {float: left;}
.nav a {
    display: flex;
    justify-content: space-around;
    color: #736B76;
    text-align: center;
    font-family: "Gill Sans MT";
    padding: 14px 16px;
    text-decoration: none;
  }
/* La página activa se muestra en rojo en el menú */
  #active {
    background-color: hsl(7, 100%, 55%);
    color:#fefefe;
    font-weight: 200;
  }
.nav a:hover{background-color:hsl(7, 100%, 55%);color:#fefefe;}
#menu {
    position: fixed;
    top: 0;
    width: 97vw;
  }
.nav {border-right: 1px solid #bbb;}
#logo {padding-left: 20vw;
  float:left;
  text-align: center;
  padding-top: 2.67px; 
  padding-bottom: 0;
}

#carrito {
  float:right;
  padding-left:10px;
  padding-right:12px;
  padding-top:7px
}

.nav:last-child {border-left: 1px solid #bbb;}

/* CONFIGURACIÓN DEL BODY */

/* bdiv es para las secciones div más amplias  */
.bdiv {
    width: 88vw;
    padding: 40px;
    padding-bottom: 100px;
    padding-top: 20px;
    border: 2px solid gray;
    background-color: #f8f4e9;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 20px
  }

#div1 {margin-top: 60px;
  display: flex;
  flex-wrap: wrap;}

.t {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;}
.t1 {font-family: "Gill Sans MT"; 
    color:#736B76;}
.p1 {font-family: "Sitka Text";
    text-align: justify;}

/* Cuadros que hablan sobre la misión y medios para lograrlo */

.flex {display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  flex-wrap: wrap;
}

.cuadro{
  width: 580px;
  height: 210px;
  border-radius: 10px;
  border-width: 3px;
  border: 2px solid #bbb;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top:10px;
  margin-right: 5px;
  align-items: baseline;
  border: 1px solid #736B76;   
  background-color: #ff341a;}

.cuadrodet {text-align:justify; 
padding-left: 25px;
padding-right:30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#fefefe;
}

.lista1 {color:#fefefe;
padding-left: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;
}

.it1{padding-bottom:10px}

.white_t{color:#fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight:600;
    text-align: left;
    padding-left: 25px;
}

/* FOOTER */
.foot{   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight:600;
    text-align: right;}

.foot2{text-align: left;}
.foot_ul{color:darkgrey;
  text-align: right; 
  padding-right: 15px;}

/* PÁGINA DE EBOOKS */
.producto{
  width: 250px;
  height: 350px;
  border-radius: 10px;
  border-width: 3px;
  border: 2px solid #bbb;
  display: flex;
  justify-content: space-evenly;
  margin:25px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom:35px
 }

 .ebook{width: 350px;}
 .botonCompra{height: 30px;
margin-top: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* PÁGINA DE CONTENIDO */

 .grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto ;
  gap: 10px;
  background-color: rgb(248, 244, 233);
  padding-top: 15px;
  /* justify-content: space-around; */
}

.post{width: 27vw;
  border: solid#736B76 1px;}

#div1:last-child {justify-content: center;}



/* PÁGINA DE PREGUNTAS */

/* .col{margin-bottom: 10px;} */
.form-control{margin-bottom: 10px;}

.pregunta{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #dedede;
background-color: #ededed;
border: solid #999595 1px;
color: #635f65;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
font-size: large;
font-weight: 500;
font-style: italic;
padding: 8px;
margin-top: 20px;

}

.respuesta{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ededed;
  background-color: #fcfcfc;
  font-size: medium;
  font-weight: 300;
  padding: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid #999595 1px;
}

.form-label{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-right:2vw}

/* CARRITO */

/* .divTabla{
background-color: #fefefe;} */
.listadoCarrito{
background-color: #fefefe;
width: 85vw;
border-spacing: 0px;
border: 1px solid #635f65;

}

.fila1Carrito{height: 30px;
  border: 2px solid #736B76;
  width: 98vw;
  background-color: #dedede;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  text-align: center;
}

.itemsCarrito{height: 50px;
  border: 2px solid #736B76;
  width: 98vw;
  background-color: #fefefe;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #736B76;
  text-align: center;
  /* display: none; */
}

/* #eb2{display: table-row;} */
#noitem{display:none}

.colCar0{width: 10px;
  border: 1px solid #bbb;

  }
.colCar1{width: 50%;
border: 1px solid #bbb;
}

.colCar2{
  border: 1px solid #bbb;
  text-align: center;
}
  
.colCar3{
  border: 1px solid #bbb;
  text-align: center;}

.colCar4{
  border: 1px solid #bbb;
  text-align: center;}

#totalCar{height: 30px;
display: flex;
flex-direction: row-reverse;

}

.botonCar{height:50px;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width:20%;
  font-size: larger;
  background-color: rgb(255, 55, 0);
  color: #fefefe;
  font-weight:600;
}

/* .btn btn-primary btn-lg{--bs-btn-bg: var(--bd-orange-bg);} */
 /* ADAPTACIÓN A CELULARES */

 @media screen and (max-width: 900px) {
body {
  background-color: rgb(255, 255, 255);}

.bdiv{padding: 4vw;
  margin-left: 0;

  width: 85vw;}

#logo{display: none;}

#menu{width: 93vw;}

.nav a{font-size: small; 
  padding-inline: 10px;
  }
.nav:last-child{border-left: 0px;}

footer{margin: 2px;}
.foot{font-size:medium;}
.foot2{font-size: x-small;}
.foot3{font-size: smaller;}
.foot_ul{padding:1px}
.p1{font-size: small;}
.it1{font-size: small;}
.cuadrodet{font-size: small;}
.grid_container{  grid-template-columns: auto;
  row-gap: 15px;
}
.post{width: 60vw;
  border: solid#736B76 1px;
}

.form-control{width: 85%;}

.d-grid{justify-content: center;margin-right: 4vw;}
.t{font-size: x-large;}
.t1{font-size: large;}

.pregunta{font-size: medium;}
.respuesta{font-size: 14px;}
.filaCarrito{font-size: small;}
#totalCar{margin-bottom: 30px;}
.fila1Carrito{font-size: small;}
.itemsCarrito{font-size: small;}
.botonCar{font-size: small;}

}

